/* --------------------------------------------------------------------------
/*                                  CSS RESET                                 */
/* -------------------------------------------------------------------------- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -------------------------------------------------------------------------- */
/*                                ROOT ELEMENT                                */
/* -------------------------------------------------------------------------- */
html{
    font-size: 62.5%;
}

/* -------------------------------------------------------------------------- */
/*                                 REST STYLE                                 */
/* -------------------------------------------------------------------------- */
.fullscreen{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#vertical-icon-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #555;
}

i{
    color: #fff;
    font-size: 5rem;
}

a{
    padding: 2rem;
    display: block;
}

a:not(.active):hover{
    background-color: #000;
}

.active{
    background-color: #008000;
}

